@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Oswald&display=swap");
@import url("https://use.typekit.net/pws3tdw.css");
/* Safari 4.0 - 8.0 */
@-webkit-keyframes bounce {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(20px); } }

@keyframes bounce {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(20px); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    /* Move the element to the side for the start of the animation */
    transform: translateX(10rem); }
  80% {
    /* Move the element to the opposite side during the animation */
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    /* Move the element to the original position */
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    /* Move the element to the side for the start of the animation */
    transform: translateX(-10rem); }
  80% {
    /* Move the element to the opposite side during the animation */
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    /* Move the element to the original position */
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    /* Move the element to the side for the start of the animation */
    transform: translateY(20rem); }
  80% {
    /* Move the element to the opposite side during the animation */
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    /* Move the element to the original position */
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    /* Move the element to the side for the start of the animation */
    transform: translateY(-20rem); }
  80% {
    /* Move the element to the opposite side during the animation */
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    /* Move the element to the original position */
    transform: translate(0); } }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.about__section {
  width: 90%;
  margin: 0 auto;
  max-width: 50em;
  margin-top: 5em;
  margin-bottom: 5em; }
  .about__section::after {
    content: '';
    display: block;
    clear: both; }
  .about__section--img {
    margin-top: 2em;
    margin-bottom: 2em; }
    .about__section--img::after {
      content: '';
      display: block;
      clear: both; }
    @media (min-width: 50em) {
      .about__section--img {
        float: left;
        margin-right: 1em; } }
  .about__section a:link, .about__section a:visited {
    color: #C69963;
    text-decoration: none;
    transition: all .2s;
    font-weight: bold; }
  .about__section a:hover {
    color: #38405B; }

@supports (display: grid) {
  .about__section {
    display: grid;
    grid-template-columns: [about-start] minmax(15em, 1fr) [title-start] minmax(6em, 1fr) [img-end] 2fr [about-end];
    grid-column-gap: .75em; }
    .about__section--title {
      grid-column: about-start / about-end;
      grid-row: 2 / 2;
      margin-top: -3em; }
      @media (min-width: 50em) {
        .about__section--title {
          margin-top: .5em;
          grid-row: 1 / 2; } }
    .about__section--sub {
      font-size: 2rem;
      letter-spacing: 0.05em;
      color: #FF7BB4;
      text-transform: upppercase;
      line-height: 1;
      font-family: "marydale", sans-serif;
      font-weight: 400;
      font-style: italic;
      margin-top: -2.8em; }
      @media (min-width: 50em) {
        .about__section--sub {
          font-size: 2.5rem;
          margin-top: -1.5em; } }
    .about__section--sub, .about__section--text {
      grid-column: about-start / about-end; }
      @media (min-width: 50em) {
        .about__section--sub, .about__section--text {
          grid-row: 2 / 4;
          grid-column: about-start / img-end; } }
    @media (min-width: 50em) {
      .about__section--text {
        margin-top: 2rem; } }
    .about__section--img {
      grid-column: about-start / img-end;
      grid-row: 1 / 2; }
      @media (min-width: 50em) {
        .about__section--img {
          grid-column: img-end / about-end;
          grid-row: 2 / 4; } } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html, body {
  height: 100%; }

body {
  color: #606060;
  font-family: "Cardo", serif;
  line-height: 1.6;
  background: #ffffff;
  font-size: 1.1rem;
  overflow-x: hidden;
  padding: 0;
  box-sizing: border-box; }

.large-text {
  font-size: 1.4rem;
  letter-spacing: 0;
  color: #606060;
  text-transform: upppercase;
  line-height: 1;
  font-family: "Cardo", serif;
  font-weight: 400; }
  @media (min-width: 50em) {
    .large-text {
      font-size: 1.9rem; } }

.highlight {
  font-size: 1.4rem;
  letter-spacing: 0;
  color: #A78CE7;
  text-transform: upppercase;
  line-height: 1;
  font-family: "Cardo", serif;
  font-weight: 400;
  font-weight: bold;
  font-style: italic; }

img {
  max-width: 100%; }

h1, h2, p {
  margin-bottom: 1em; }

h1 {
  font-size: 3.125rem;
  letter-spacing: 0;
  color: #606060;
  text-transform: upppercase;
  line-height: 1;
  font-family: "reross-rectangular", sans-serif;
  font-weight: 400; }
  @media (min-width: 50em) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-size: 2rem;
  letter-spacing: 0.05em;
  color: #606060;
  text-transform: upppercase;
  line-height: 1;
  font-family: "Cardo", serif;
  font-weight: 400;
  background-image: linear-gradient(to right, #C69963, #38405B);
  -webkit-background-clip: text;
  color: transparent; }
  @media (min-width: 50em) {
    h2 {
      font-size: 3rem; } }

.flex-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; }

.contact {
  width: 90%;
  margin: 0 auto;
  max-width: 80em;
  position: relative;
  padding: 20px;
  margin-bottom: 5em; }
  .contact::after {
    content: '';
    display: block;
    clear: both; }
  .contact--title {
    text-align: left;
    margin-top: 1em; }
  .contact--sub {
    font-size: 1.8rem;
    letter-spacing: 0.05em;
    color: #FF7BB4;
    text-transform: upppercase;
    line-height: 1;
    font-family: "marydale", sans-serif;
    font-weight: 400;
    margin-top: -1.5em;
    font-style: italic; }
    @media (min-width: 50em) {
      .contact--sub {
        font-size: 2.5rem;
        margin-top: -1.5em; } }
  .contact__container {
    min-height: 800px;
    background: #ffffff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .contact__container--img {
      display: none;
      width: 100%;
      height: 100%;
      object-fit: cover; }
      @media (min-width: 50em) {
        .contact__container--img {
          display: block; } }
    .contact__container--box {
      grid-column: 1/ -1;
      width: 100%;
      height: 100%;
      background: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      transition: 0.5s; }
      @media (min-width: 50em) {
        .contact__container--box {
          grid-column: 2 / -1; } }
      .contact__container--box--icons {
        width: 100%;
        display: flex;
        justify-content: space-evenly; }
        .contact__container--box--icons--list {
          list-style: none; }
          .contact__container--box--icons--list--link {
            display: flex;
            font-size: 1.5rem;
            text-decoration: none;
            color: #b6bbc5;
            width: 3rem;
            height: 3rem;
            margin-bottom: 2rem;
            border-radius: 50%;
            box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1), -1rem -1rem 2rem rgba(255, 255, 255, 0.5); }
            .contact__container--box--icons--list--link:hover {
              box-shadow: inset 1rem 1rem 2rem rgba(0, 0, 0, 0.1), inset -1rem -1rem 2rem rgba(255, 255, 255, 0.5); }
            .contact__container--box--icons--list--link i {
              margin: auto; }
      .contact__container--box--form input, .contact__container--box--form textarea {
        width: 100%;
        padding: 1rem;
        background-color: #f5f5f5;
        color: #606060;
        border: none;
        outline: none;
        box-shadow: none;
        margin: .5rem 0;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 300; }
      .contact__container--box--form input[type="submit"] {
        font-size: 1rem;
        letter-spacing: 0.05em;
        color: #FF7BB4;
        text-transform: upppercase;
        line-height: 1;
        font-family: "Cardo", serif;
        font-weight: 400;
        text-transform: uppercase;
        max-width: 33.3%;
        background: #A78CE7;
        color: #ffffff;
        cursor: pointer;
        transition: 0.5s; }
        .contact__container--box--form input[type="submit"]:hover {
          background: #FF7BB4; }
      .contact__container--box--form textarea {
        height: 200px; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }
  .footer::before {
    position: absolute;
    content: '';
    height: 2em;
    width: 30%;
    background-color: #A78CE7;
    left: 0; }
    @media (min-width: 50em) {
      .footer::before {
        width: 40%; } }
  .footer::after {
    position: absolute;
    content: '';
    height: 2em;
    width: 30%;
    background-color: #FF7BB4;
    right: 0;
    top: 10%; }
    @media (min-width: 50em) {
      .footer::after {
        width: 40%; } }
  .footer p {
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    color: #606060;
    text-transform: upppercase;
    line-height: 1;
    font-family: "Cardo", serif;
    font-weight: 400;
    padding-top: 2em;
    font-weight: bold; }

.hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 10vh);
  position: relative; }
  .hero--img {
    grid-column: 1 / -1;
    grid-row: 1 / 10;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; }
    @media (min-width: 50em) {
      .hero--img {
        grid-column: 2 / -1;
        grid-row: 1 / -1; } }
    @media (min-width: 75em) {
      .hero--img {
        grid-column: 5 / -1;
        grid-row: 1 / 9;
        transform: translateX(-1em); } }
  .hero__content {
    background-color: rgba(255, 255, 255, 0.9);
    grid-column: 1 / -1;
    grid-row: 3 / 7;
    padding: 1em 0 0 1em;
    z-index: 1; }
    .hero__content:before {
      content: '';
      position: absolute;
      top: 55%;
      left: 0;
      height: .5em;
      width: 40%;
      background: #CECFFF; }
      @media (min-width: 50em) {
        .hero__content:before {
          top: 50%; } }
      @media (min-width: 75em) {
        .hero__content:before {
          content: '';
          position: absolute;
          top: 10%;
          left: 0;
          height: 1em;
          width: 20%;
          background: #606060; } }
    @media (min-width: 50em) {
      .hero__content {
        grid-column: 1 / 10;
        padding: 1em 0 0 3em; } }
    @media (min-width: 75em) {
      .hero__content {
        grid-column: 1 / 9;
        grid-row: 3 / 7;
        border-left: 0.4rem solid #CECFFF;
        padding: 3em 0 0 3em;
        margin-left: 5em; } }
    .hero__content--title {
      font-size: 3rem;
      letter-spacing: 0;
      color: #606060;
      text-transform: upppercase;
      line-height: 1;
      font-family: "reross-rectangular", sans-serif;
      font-weight: 400;
      margin-top: .5em;
      margin-bottom: 0;
      position: relative; }
      @media (min-width: 50em) {
        .hero__content--title {
          font-size: 4rem;
          margin-top: 0; } }
      @media (min-width: 75em) {
        .hero__content--title {
          font-size: 5rem;
          margin-top: 0; } }
    .hero__content--sub {
      font-size: 1.5rem;
      letter-spacing: 0;
      color: #A78CE7;
      text-transform: upppercase;
      line-height: 1;
      font-family: "marydale", sans-serif;
      font-weight: 400;
      margin-top: .5em;
      font-style: italic; }
      @media (min-width: 50em) {
        .hero__content--sub {
          font-size: 2rem; } }
    .hero__content--text {
      font-size: 1.4rem;
      letter-spacing: 0;
      color: #606060;
      text-transform: upppercase;
      line-height: 1;
      font-family: "Cardo", serif;
      font-weight: 400;
      width: 80%; }
      @media (min-width: 50em) {
        .hero__content--text {
          font-size: 1.6rem; } }
  .hero__footer {
    background: #606060;
    grid-column: 1 / 10;
    grid-row: 8 / 10; }
    .hero__footer::before {
      content: '';
      position: absolute;
      top: 60%;
      left: 0;
      height: 10em;
      width: 20%;
      background: #FF7BB4; }
      @media (min-width: 75em) {
        .hero__footer::before {
          height: 4em;
          top: 65%;
          width: 30%; } }
    .hero__footer::after {
      content: '';
      position: absolute;
      top: 85%;
      left: 60%;
      height: 5em;
      width: 40%;
      background: #CECFFF; }
      @media (min-width: 75em) {
        .hero__footer::after {
          height: 20em;
          left: 58%;
          width: 30%;
          top: 85%; } }
      @media (min-width: 100em) {
        .hero__footer::after {
          height: 20em;
          left: 45%;
          width: 50%;
          top: 80%; } }
    .hero__footer .btn {
      font-size: 1.5rem;
      letter-spacing: 0;
      color: #ffffff;
      text-transform: upppercase;
      line-height: 1;
      font-family: "Cardo", serif;
      font-weight: 400;
      position: relative;
      top: 30%;
      left: 35%;
      text-decoration: none;
      border: 3px solid #ffffff;
      padding: .5rem .5em;
      transition: all .5s; }
      @media (min-width: 75em) {
        .hero__footer .btn {
          top: 40%; } }
      .hero__footer .btn::before, .hero__footer .btn::after {
        content: "";
        position: absolute;
        width: 1rem;
        height: 1rem;
        border-style: solid;
        transition: all .5s; }
      .hero__footer .btn::before {
        top: -1rem;
        left: -1rem;
        border-width: 3px 0 0 3px;
        border-color: #A78CE7; }
      .hero__footer .btn::after {
        bottom: -1rem;
        right: -1rem;
        border-width: 0 3px 3px 0;
        border-color: #FF7BB4; }
      .hero__footer .btn:hover {
        color: #606060;
        background-color: #ffffff;
        border-color: #ffffff; }
      .hero__footer .btn:hover::before, .hero__footer .btn:hover::after {
        width: calc(100% + 2rem);
        height: calc(100% + 2rem);
        border-color: #606060; }

.message__container {
  padding: 3rem 0;
  background-image: url(../../img/message.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; }
  .message__container .message__section {
    width: 90%;
    margin: 0 auto;
    max-width: 90em;
    text-align: center;
    background-color: #ffffff;
    padding: 5em; }
    @media (min-width: 100em) {
      .message__container .message__section {
        width: 50%; } }
    .message__container .message__section--title {
      font-size: 3.5rem;
      letter-spacing: 0.05em;
      color: #606060;
      text-transform: upppercase;
      line-height: 1;
      font-family: "reross-rectangular", sans-serif;
      font-weight: 400; }
      @media (min-width: 75em) {
        .message__container .message__section--title {
          font-size: 5rem; } }
    .message__container .message__section--text {
      font-size: 2rem;
      letter-spacing: 0.05em;
      color: #A78CE7;
      text-transform: upppercase;
      line-height: 1;
      font-family: "reross-rectangular", sans-serif;
      font-weight: 400;
      line-height: 1.3; }
      @media (min-width: 100em) {
        .message__container .message__section--text {
          font-size: 3rem; } }
      .message__container .message__section--text::after {
        content: '';
        width: 90%;
        height: 10px;
        background: #FF7BB4;
        display: block;
        margin: 1em auto 2em auto; }
        @media (min-width: 50em) {
          .message__container .message__section--text::after {
            width: 60%; } }
    .message__container .message__section--btn {
      font-size: 1.5rem;
      letter-spacing: 0;
      color: #606060;
      text-transform: upppercase;
      line-height: 1;
      font-family: "reross-rectangular", sans-serif;
      font-weight: 400;
      position: relative;
      margin-top: 2em;
      text-decoration: none;
      border: 3px solid #ffffff;
      padding: .5rem .5em;
      transition: all .5s; }
      .message__container .message__section--btn::before, .message__container .message__section--btn::after {
        content: "";
        position: absolute;
        width: 1rem;
        height: 1rem;
        border-style: solid;
        transition: all .5s; }
      .message__container .message__section--btn::before {
        top: -1rem;
        left: -1rem;
        border-width: 3px 0 0 3px;
        border-color: #A78CE7; }
      .message__container .message__section--btn::after {
        bottom: -1rem;
        right: -1rem;
        border-width: 0 3px 3px 0;
        border-color: #FF7BB4; }
      .message__container .message__section--btn:hover {
        color: #FF7BB4;
        background-color: #ffffff;
        border-color: #ffffff; }
      .message__container .message__section--btn:hover::before, .message__container .message__section--btn:hover::after {
        width: calc(100% + 2rem);
        height: calc(100% + 2rem);
        border-color: #ffffff; }

.modal__section {
  background-color: #ffffff;
  position: fixed;
  z-index: 10;
  top: 1em;
  bottom: 1em;
  left: 2em;
  right: 2em;
  box-shadow: 0 0 0 3em rgba(56, 64, 91, 0.8);
  overflow-y: scroll;
  overflow-x: hidden;
  display: none; }
  .modal__section--button {
    background: transparent;
    position: fixed;
    background: #A78CE7;
    top: .7em;
    left: 1.5em;
    border: 0;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(198, 153, 99, 0.9); }
    .modal__section--button--img {
      max-height: 1em;
      margin-top: .2em; }
  .modal__section--header {
    text-align: left;
    padding: 5em 0;
    margin-bottom: 2em;
    background-size: cover;
    background-position: center; }
    @media (min-width: 75em) {
      .modal__section--header {
        height: 60guvh; } }
    .modal__section--header--box {
      background: rgba(96, 96, 96, 0.9);
      padding: 2em 0 1em 2em;
      color: #ffffff;
      width: 100%; }
      @media (min-width: 75em) {
        .modal__section--header--box {
          padding: 5em 0 1em 5em; } }
      .modal__section--header--box--title {
        color: #ffffff;
        font-size: 1.9rem;
        display: inline-block; }
        .modal__section--header--box--title::after {
          content: '';
          height: 3px;
          margin: .5em 0;
          background: #A78CE7;
          display: block; }
        @media (min-width: 75em) {
          .modal__section--header--box--title {
            font-size: 3rem; } }
      .modal__section--header--box--sub {
        font-size: 1.5rem;
        letter-spacing: 0;
        color: #ffffff;
        text-transform: upppercase;
        line-height: 1;
        font-family: "reross-rectangular", sans-serif;
        font-weight: 400; }
      .modal__section--header--box--social {
        display: flex;
        align-items: flex-start; }
        .modal__section--header--box--social--icons {
          width: 2.5em;
          height: 2.5em;
          margin-right: 1em;
          fill: #ffffff; }
          .modal__section--header--box--social--icons::after {
            content: '';
            display: block;
            clear: both; }
          .modal__section--header--box--social--icons:hover {
            fill: #FF7BB4; }
  .modal__section.open {
    display: block; }

.header-blackswan {
  background-image: url("../img/blackswan-modal.png"); }

.header-adventure {
  background-image: url("../img/adventure-modal.png"); }

.header-mendip {
  background-image: url("../img/mendip-modal.png"); }

.header-roman {
  background-image: url("../img/roman-modal.png"); }

.header-connect4 {
  background-image: url("../img/connect4-modal.png"); }

.header-nexter {
  background-image: url("../img/nexter-modal.png"); }

.header-iit {
  background-image: url("../img/iit-modal.png"); }

.header-dw {
  background-image: url("../img/dw-modal.png"); }

.header-blog {
  background-image: url("../img/blog-modal.png"); }

.header-nml {
  background-image: url("../img/nml-modal.png"); }

.modal__content {
  text-align: left;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 2em; }
  .modal__content--title {
    font-size: 2.8rem;
    letter-spacing: 0;
    color: #606060;
    text-transform: upppercase;
    line-height: 1;
    font-family: "reross-rectangular", sans-serif;
    font-weight: 400;
    margin-top: 1em; }
    @media (min-width: 75em) {
      .modal__content--title {
        font-size: 3em; } }
  .modal__content--fullwidth {
    width: 100vw !important;
    max-width: initial;
    margin: 2em calc(50% - 50vw);
    height: 20vh !important;
    object-fit: cover; }
  .modal__content--section .img-left {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 1em;
    shape-outside: ellipse();
    border-radius: 50%; }
  .modal__content--section .img-right {
    max-width: 350px;
    max-height: 350px;
    float: right;
    margin-bottom: 2em; }
    @media (min-width: 75em) {
      .modal__content--section .img-right {
        margin-top: -5em; } }
  .modal__content--section--gallery {
    display: flex;
    flex-wrap: wrap; }
    .modal__content--section--gallery--fig {
      position: relative;
      overflow: hidden;
      flex: 1 1 25rem; }
      .modal__content--section--gallery--fig--img {
        display: block;
        width: 100%;
        height: 100%; }
  .modal__content--section--videoholder {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    margin-top: -2em; }
    .modal__content--section--videoholder--video {
      width: 100%; }
  @supports (display: grid) {
    .modal__content--section--gallery {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: .5em; }
      @media (min-width: 50em) {
        .modal__content--section--gallery {
          grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); } } }
  .modal__content h3 {
    color: #A78CE7; }

@keyframes modalIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes modalOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.mobile-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 15%;
  z-index: 10;
  transform: translateX(-100%);
  transition: transform ease-in 250ms; }
  .mobile-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 93vh;
    background: #ffffff; }
    .mobile-nav ul li {
      text-align: center;
      display: flex;
      justify-content: center; }
      .mobile-nav ul li:hover:nth-child(odd) {
        background: #A78CE7; }
      .mobile-nav ul li:hover:nth-child(even) {
        background: #FF7BB4; }
      .mobile-nav ul li a {
        font-size: 1.4rem;
        letter-spacing: 0.05em;
        color: #606060;
        text-transform: upppercase;
        line-height: 1;
        font-family: "reross-rectangular", sans-serif;
        font-weight: 400;
        text-decoration: none;
        padding: calc(93vh/12) 0;
        line-height: 0;
        scroll-behavior: smooth; }

.open-nav {
  height: 93vh;
  overflow-y: hidden; }
  .open-nav .mobile-nav {
    transform: translateX(0); }
  .open-nav .body-container {
    transform: translateX(85%); }
  .open-nav .menu-button {
    transform: translateX(0); }
  @media (min-width: 75em) {
    .open-nav .menu-button {
      transform: translateX(100%); } }
  .open-nav .close {
    display: block; }
  .open-nav .hamburger {
    display: none; }

.menu-button {
  position: absolute;
  top: 2em;
  left: 1em;
  background: transparent;
  border: 0;
  fill: #606060;
  cursor: pointer;
  transition: all .3s; }
  @media (min-width: 50em) {
    .menu-button {
      fill: #FF7BB4; } }
  .menu-button svg {
    height: 2em; }
  .menu-button:hover {
    transform: translateY(0.3rem); }
  @media (min-width: 50em) {
    .menu-button {
      display: none; } }

.close {
  display: none; }

.navigation {
  display: none; }

.header--logo {
  display: none; }

@media (min-width: 50em) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh; }
    .header--logo {
      display: block;
      height: 4em;
      width: auto;
      margin-left: 1em; }
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    width: 100%; }
    .navigation ul {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      list-style: none;
      margin-right: 1em;
      padding: 0; }
      .navigation ul a {
        font-size: 1.2rem;
        letter-spacing: 0.05em;
        color: #262626;
        text-transform: upppercase;
        line-height: 1;
        font-family: "reross-rectangular", sans-serif;
        font-weight: 400;
        text-decoration: none;
        padding: 0 .5em;
        display: inline-block;
        transition: transform .3s; }
        .navigation ul a::after {
          content: '';
          display: block;
          width: 0;
          height: .1em;
          background-color: #FF7BB4;
          margin-top: .3em; }
        .navigation ul a:hover {
          transform: translateY(0.5rem) scale(1); }
        .navigation ul a:hover::after {
          width: 99%;
          transition: .3s; }
    .navigation .social-icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      .navigation .social-icons .social-icon {
        padding: 1em .5em 0; }
        .navigation .social-icons .social-icon svg {
          fill: #ffffff;
          width: 1.5em;
          height: 1.5em;
          transition: transform .3s;
          /* Animate */
          animation-name: moveInRight;
          animation-duration: 1s;
          animation-timing-function: ease-out; }
          .navigation .social-icons .social-icon svg:hover {
            fill: #C69963;
            transform: translateY(0.5rem) scale(1); } }

.portfolio__section {
  width: 90%;
  margin: 0 auto;
  max-width: 80em;
  text-align: left;
  padding: 2em 0; }
  .portfolio__section figure {
    margin: 0; }
  .portfolio__section img {
    height: 100%; }
  .portfolio__section--subtitle {
    font-size: 1.8rem;
    letter-spacing: 0.05em;
    color: #FF7BB4;
    text-transform: upppercase;
    line-height: 1;
    font-family: "marydale", sans-serif;
    font-weight: 400;
    margin-top: -1.5em;
    font-style: italic; }
    @media (min-width: 50em) {
      .portfolio__section--subtitle {
        font-size: 2.5rem; } }
  .portfolio__section--filter {
    margin: 3rem 0 3rem 0; }
    .portfolio__section--filter--buttons {
      list-style: none;
      text-align: center;
      padding: 0; }
      .portfolio__section--filter--buttons--list {
        display: inline-block;
        font-size: 1.1rem;
        letter-spacing: 0.05em;
        color: #606060;
        text-transform: upppercase;
        line-height: 1;
        font-family: "reross-rectangular", sans-serif;
        font-weight: 400;
        margin: 0 5px;
        text-transform: uppercase;
        cursor: pointer;
        padding: 1rem; }
        @media (min-width: 75em) {
          .portfolio__section--filter--buttons--list {
            font-size: 1.8rem; } }
        .portfolio__section--filter--buttons--list:hover {
          color: #FF7BB4; }
    .portfolio__section--filter .active {
      font-weight: bolder;
      border-bottom: 4px solid #A78CE7; }
      .portfolio__section--filter .active:hover {
        color: #606060; }

.portfolio__items {
  display: flex;
  flex-wrap: wrap; }
  .portfolio__items--item {
    position: relative;
    overflow: hidden;
    flex: 1 1 25rem; }
    .portfolio__items--item--img {
      display: block;
      width: 100%;
      height: 100%;
      transition: all 1s ease-in-out; }
    .portfolio__items--item:hover .portfolio__items--item--img, .portfolio__items--item:focus .portfolio__items--item--img {
      transform: scale(1.5); }
    .portfolio__items--item--fig {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      bottom: 0;
      right: 0;
      left: 0;
      padding-top: 1em;
      padding-left: 1em;
      padding-bottom: 1em;
      background-image: linear-gradient(to right bottom, rgba(96, 96, 96, 0.9), #606060);
      text-align: left;
      transition: top ease-in-out 350ms; }
    .portfolio__items--item:hover .portfolio__items--item--fig, .portfolio__items--item:focus .portfolio__items--item--fig {
      top: 0; }
    .portfolio__items--item--title {
      margin-bottom: auto;
      font-size: 1.8rem;
      letter-spacing: 0;
      color: #FF7BB4;
      text-transform: upppercase;
      line-height: 1;
      font-family: "reross-rectangular", sans-serif;
      font-weight: 400; }
    .portfolio__items--item--social {
      display: flex;
      flex-direction: row;
      align-items: flex-start; }
      .portfolio__items--item--social svg {
        width: 2em;
        height: 2em;
        margin-right: 1em;
        fill: #ffffff; }
        .portfolio__items--item--social svg::after {
          content: '';
          display: block;
          clear: both; }

.portfolio-link {
  font-size: 1.6rem;
  letter-spacing: 0;
  color: #ffffff;
  text-transform: upppercase;
  line-height: 1;
  font-family: "Cardo", serif;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 2px solid #A78CE7;
  align-self: flex-start; }

@supports (display: grid) {
  .portfolio__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: .5em; }
  .span-2 {
    grid-row: span 2; } }

.quote__container {
  width: 90%;
  margin: 0 auto;
  max-width: 100vw;
  padding: 3rem 0;
  background-image: url(../../img/quote.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 5em;
  margin-bottom: 5em; }
  .quote__container .quote__section {
    width: 90%;
    margin: 0 auto;
    max-width: 90em;
    text-align: center;
    background-color: #ffffff;
    padding: 5em; }
    @media (min-width: 100em) {
      .quote__container .quote__section {
        width: 50%; } }
    .quote__container .quote__section--quote {
      font-size: 2.6rem;
      letter-spacing: 0.05em;
      color: #A78CE7;
      text-transform: upppercase;
      line-height: 1;
      font-family: "Cardo", serif;
      font-weight: 400;
      line-height: 1.3; }
      @media (min-width: 100em) {
        .quote__container .quote__section--quote {
          font-size: 4rem; } }
      .quote__container .quote__section--quote::after {
        content: '';
        width: 90%;
        height: 10px;
        background: #FF7BB4;
        display: block;
        margin: 1em auto; }
        @media (min-width: 50em) {
          .quote__container .quote__section--quote::after {
            width: 60%; } }
    .quote__container .quote__section--cite {
      font-size: 2rem;
      letter-spacing: 0.05em;
      color: #606060;
      text-transform: upppercase;
      line-height: 1;
      font-family: "marydale", sans-serif;
      font-weight: 400;
      margin-top: 1.5em;
      font-style: italic;
      font-weight: bold; }

:nth-child(1):after {
  animation: animation-delay(1.5s); }

@keyframes fill {
  from {
    right: 100%; } }

.skills {
  width: 90%;
  margin: 0 auto;
  max-width: 80em; }
  .skills::after {
    content: '';
    display: block;
    clear: both; }
  .skills__list {
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    color: #606060;
    text-transform: upppercase;
    line-height: 1;
    font-family: "Cardo", serif;
    font-weight: 400;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
    .skills__list--item {
      position: relative;
      height: 60px;
      margin: 1rem 0 0 0;
      width: 90%; }
      .skills__list--item:before, .skills__list--item:after {
        content: "";
        position: absolute;
        border-radius: 20px;
        margin-top: 2rem; }
      .skills__list--item:before {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 20px;
        background: #606060; }
      .skills__list--item:after {
        background-color: #A78CE7;
        background: repeating-linear-gradient(-45deg, #A78CE7, #A78CE7 10px, #b199ea 10px, #b199ea 20px);
        height: 16px;
        top: 2px;
        left: 2px;
        animation: fill 2s both; }
      .skills__list--item[aria-label="novice"]:after {
        right: 75%; }
      .skills__list--item[aria-label="improve"]:after {
        right: 65%; }
      .skills__list--item[aria-label="average"]:after {
        right: 50%; }
      .skills__list--item[aria-label="adept"]:after {
        right: 35%; }
      .skills__list--item[aria-label="advanced"]:after {
        right: 20%; }
      .skills__list--item[aria-label="elite"]:after {
        right: 10%; }
      .skills__list--item[aria-label="pro"]:after {
        right: 2px; }
