@font-face {
  src: url("../../fonts/Winter.otf");
  font-family: Winter; }

@font-face {
  font-family: Neon;
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/Blackpast.otf"); }

@font-face {
  font-family: Panton;
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/Panton.ttf"); }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bounce {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(20px); } }

@keyframes bounce {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(20px); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    /* Move the element to the side for the start of the animation */
    transform: translateX(10rem); }
  80% {
    /* Move the element to the opposite side during the animation */
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    /* Move the element to the original position */
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    /* Move the element to the side for the start of the animation */
    transform: translateX(-10rem); }
  80% {
    /* Move the element to the opposite side during the animation */
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    /* Move the element to the original position */
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    /* Move the element to the side for the start of the animation */
    transform: translateY(20rem); }
  80% {
    /* Move the element to the opposite side during the animation */
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    /* Move the element to the original position */
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    /* Move the element to the side for the start of the animation */
    transform: translateY(-20rem); }
  80% {
    /* Move the element to the opposite side during the animation */
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    /* Move the element to the original position */
    transform: translate(0); } }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.about__section {
  width: 90%;
  margin: 0 auto;
  max-width: 80em;
  margin-top: 5em;
  margin-bottom: 5em; }
  .about__section::after {
    content: '';
    display: block;
    clear: both; }

@supports (display: grid) {
  .about__section {
    display: grid;
    grid-template-columns: [about-start] minmax(15em, 1fr) [title-start] minmax(6em, 1fr) [img-end] 2fr [about-end];
    grid-column-gap: 0.75em; }
    .about__section--title {
      grid-column: about-start / about-end;
      grid-row: 1 / 2;
      margin-top: 0;
      color: #394247;
      margin-bottom: 1rem;
      position: relative; }
      .about__section--title::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 0.1em;
        width: 10%;
        background: #5da4de;
        z-index: -1; }
      @media (min-width: 50em) {
        .about__section--title {
          margin-top: 0.5em;
          grid-row: 1 / 2;
          margin-bottom: 0; } }
      @media (min-width: 100em) {
        .about__section--title::before {
          content: "01";
          position: absolute;
          bottom: -11rem;
          right: 90rem;
          font-size: 10rem;
          z-index: -1;
          opacity: 0.05; } }
    .about__section--sub, .about__section--text {
      grid-column: about-start / about-end; }
      @media (min-width: 50em) {
        .about__section--sub, .about__section--text {
          grid-row: 2 / 4;
          grid-column: about-start / about-end; } }
      @media (min-width: 75em) {
        .about__section--sub, .about__section--text {
          grid-row: 2 / 4;
          grid-column: about-start / img-end; } }
    @media (min-width: 50em) {
      .about__section--text {
        margin-top: 2rem; } } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html,
body {
  height: 100%;
  scroll-behavior: smooth; }

body {
  color: #394247;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background: #fff5f2;
  font-size: 1.1rem;
  overflow-x: hidden;
  padding: 0;
  box-sizing: border-box; }

.large-text {
  font-size: 1.4rem;
  letter-spacing: 0;
  color: #394247;
  text-transform: upppercase;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }
  @media (min-width: 50em) {
    .large-text {
      font-size: 1.9rem; } }

.highlight {
  font-size: 1.4rem;
  letter-spacing: 0;
  color: #f9d5fa;
  text-transform: upppercase;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-weight: bold;
  font-style: italic; }

img {
  max-width: 100%; }

h1,
h2,
p {
  margin-bottom: 1em; }

h1 {
  font-size: 2.2rem;
  letter-spacing: 0;
  color: #394247;
  text-transform: upppercase;
  line-height: 1;
  font-family: Neon;
  font-weight: 300; }
  @media (min-width: 50em) {
    h1 {
      font-size: 3.5rem; } }

ul {
  list-style: none; }

.flex-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; }

.contact {
  width: 90%;
  margin: 0 auto;
  max-width: 83em;
  position: relative;
  padding: 20px;
  margin-bottom: 5em; }
  .contact::after {
    content: '';
    display: block;
    clear: both; }
  .contact--title {
    text-align: left;
    margin-top: 1em;
    position: relative; }
    .contact--title::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 0.1em;
      width: 10%;
      background: #5da4de;
      z-index: -1; }
    @media (min-width: 100em) {
      .contact--title::before {
        content: "03";
        position: absolute;
        bottom: -12rem;
        right: 90rem;
        font-size: 10rem;
        z-index: -1;
        opacity: 0.05; } }
  .contact__container {
    min-height: 800px;
    background: #fff5f2;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    .contact__container--img {
      display: none;
      width: 100%;
      height: 100%;
      object-fit: cover; }
      @media (min-width: 50em) {
        .contact__container--img {
          display: block; } }
    .contact__container--box {
      grid-column: 1/ -1;
      background: #fff5f2;
      padding: 2rem;
      transition: 0.5s;
      margin-top: 5rem; }
      @media (min-width: 50em) {
        .contact__container--box {
          grid-column: 2 / -1; } }
      .contact__container--box--icons {
        width: 100%;
        display: flex;
        justify-content: space-evenly; }
        @media (min-width: 75em) {
          .contact__container--box--icons {
            display: none; } }
        .contact__container--box--icons--list {
          list-style: none; }
          .contact__container--box--icons--list--link {
            display: flex;
            font-size: 1.5rem;
            text-decoration: none;
            color: #b6bbc5;
            width: 3rem;
            height: 3rem;
            margin-bottom: 2rem;
            border-radius: 50%;
            box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1), -1rem -1rem 2rem rgba(255, 255, 255, 0.5); }
            .contact__container--box--icons--list--link:hover {
              box-shadow: inset 1rem 1rem 2rem rgba(0, 0, 0, 0.1), inset -1rem -1rem 2rem rgba(255, 255, 255, 0.5); }
            .contact__container--box--icons--list--link i {
              margin: auto; }
      .contact__container--box--form input,
      .contact__container--box--form textarea {
        width: 100%;
        padding: 1rem;
        background-color: #f5f5f5;
        color: #394247;
        border: none;
        outline: none;
        box-shadow: none;
        margin: 0.5rem 0;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 300; }
      .contact__container--box--form input[type="submit"] {
        font-size: 1rem;
        letter-spacing: 0.05em;
        color: #fff5f2;
        text-transform: upppercase;
        line-height: 1;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        max-width: 33.3%;
        color: #fff5f2;
        cursor: pointer;
        transition: 0.5s;
        background: #f9d5fa; }
        .contact__container--box--form input[type="submit"]:hover {
          background: #5da4de; }
      .contact__container--box--form textarea {
        height: 200px; }

.change-theme {
  color: #fff5f2;
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 1rem;
  margin-left: 1rem;
  transition: transform 0.3s; }
  .change-theme:hover {
    color: #5da4de; }

body.dark-theme .body-container,
body.dark-theme .modal__section,
body.dark-theme .contact__container--box,
body.dark-theme .hero,
body.dark-theme .footer {
  background-color: black; }

body.dark-theme h1,
body.dark-theme .modal__content--title {
  color: #5da4de; }
  body.dark-theme h1:after,
  body.dark-theme .modal__content--title:after {
    background: #f9d5fa; }

body.dark-theme .modal__section--header--box--title {
  color: #fff5f2; }
  body.dark-theme .modal__section--header--box--title:after {
    background: #5da4de; }

body.dark-theme h2,
body.dark-theme h3,
body.dark-theme h4,
body.dark-theme p,
body.dark-theme .skills__list,
body.dark-theme .portfolio__section--filter--buttons--list {
  color: #fff5f2; }

body.dark-theme .skills__list--item::before {
  background: #f9d5fa; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 20vh;
  background-color: #f9d5fa; }
  .footer p {
    font-size: 1rem;
    letter-spacing: 0.05em;
    color: #394247;
    text-transform: upppercase;
    line-height: 1;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding-top: 2em; }

.hero {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #394247;
  z-index: 1; }
  .hero--img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; }
  .hero__content {
    padding: 1em 0 1em 1em;
    z-index: 1;
    background-color: #394247; }
    @media (min-width: 50em) {
      .hero__content {
        padding: 1em 0 0 1em; } }
    @media (min-width: 75em) {
      .hero__content {
        padding: 1rem;
        ackground-color: transparent; } }
    .hero__content--title {
      font-size: 1.8rem;
      letter-spacing: 0;
      color: #5da4de;
      text-transform: upppercase;
      line-height: 1;
      font-family: "Zilla Slab", serif;
      font-weight: 300;
      position: relative; }
      .hero__content--title::after {
        content: "";
        position: absolute;
        top: 105%;
        left: 0;
        height: 0.2em;
        width: 20%;
        background: #fff5f2;
        z-index: -1; }
      @media (min-width: 75em) {
        .hero__content--title {
          font-size: 2rem; }
          .hero__content--title::after {
            top: 110%; } }
      @media (min-width: 100em) {
        .hero__content--title::after {
          top: 100%; } }
      .hero__content--title--sub {
        font-size: 4.5rem;
        letter-spacing: 0;
        color: #fff5f2;
        text-transform: upppercase;
        line-height: 1;
        font-family: "Zilla Slab", serif;
        font-weight: 300;
        margin-left: -0.2rem;
        padding: 0; }
        @media (min-width: 100em) {
          .hero__content--title--sub {
            font-size: 10rem;
            margin-top: 1.5rem; } }
    .hero__content--text {
      font-size: 1.2rem;
      letter-spacing: 0;
      color: #fff5f2;
      text-transform: upppercase;
      line-height: 1;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      line-height: 1.4;
      width: 90%;
      margin-top: 2rem; }
      @media (min-width: 75em) {
        .hero__content--text {
          margin-top: 2rem; } }
    .hero__content--btn:link, .hero__content--btn:visited {
      font-size: 1.2rem;
      letter-spacing: 0;
      color: #5da4de;
      text-transform: upppercase;
      line-height: 1;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      text-decoration: none; }
    .hero__content--btn:hover {
      color: #fff5f2; }

/* If browser supports CSS Grid */
@supports (display: grid) {
  .hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 10vh); }
    .hero--img {
      grid-column: 1 / -1;
      grid-row: 1 / -1; }
      @media (min-width: 75em) {
        .hero--img {
          grid-column: 5 / -1;
          grid-row: 1 / -1; } }
    .hero__content {
      grid-column: 1 / -1;
      grid-row: 2 / 7;
      margin-top: 3rem; }
      @media (min-width: 75em) {
        .hero__content {
          grid-row: 4;
          grid-column: 1 / 6; } }
      @media (min-width: 100em) {
        .hero__content {
          grid-row: 5; } }
      @media (min-width: 75em) {
        .hero__content--text {
          font-size: 1.3rem;
          line-height: 1.3; } }
      @media (min-width: 100em) {
        .hero__content--text {
          grid-column: 6 / -1;
          grid-row: 8 / -1; } }
    .hero__footer {
      font-size: 2.8rem;
      letter-spacing: 0;
      color: #fff5f2;
      text-transform: upppercase;
      line-height: 1;
      font-family: Winter;
      font-weight: 300;
      grid-column: 1 / -1;
      grid-row: 10 / -1;
      margin-left: 0.5em; } }

.modal__section {
  background-color: #fff5f2;
  position: fixed;
  z-index: 10;
  top: 1em;
  bottom: 1em;
  left: 2em;
  right: 2em;
  box-shadow: 0 0 0 3em rgba(249, 213, 250, 0.8);
  overflow-y: scroll;
  overflow-x: hidden;
  display: none; }
  .modal__section--button {
    background: transparent;
    position: fixed;
    background: #fff5f2;
    top: 0.7em;
    left: 1.5em;
    border: 0;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(93, 164, 222, 0.9); }
    .modal__section--button--img {
      max-height: 1em;
      margin-top: 0.2em; }
  .modal__section--header {
    text-align: left;
    padding: 5em 0;
    margin-bottom: 2em;
    background-size: cover;
    background-position: center; }
    @media (min-width: 75em) {
      .modal__section--header {
        height: 100vh; } }
    .modal__section--header--box {
      background: rgba(57, 66, 71, 0.6);
      padding: 2em 0 1em 2em;
      color: #fff5f2;
      width: 100%; }
      @media (min-width: 75em) {
        .modal__section--header--box {
          padding: 5em 0 5em 5em; } }
      .modal__section--header--box--title {
        color: #fff5f2;
        font-size: 1.9rem;
        display: inline-block; }
        .modal__section--header--box--title::after {
          content: "";
          height: 3px;
          margin: 0.5em 0;
          background: #5da4de;
          display: block; }
        @media (min-width: 75em) {
          .modal__section--header--box--title {
            font-size: 3rem; } }
      .modal__section--header--box--sub {
        font-size: 1.5rem;
        letter-spacing: 0;
        color: #fff5f2;
        text-transform: upppercase;
        line-height: 1;
        font-family: "Roboto", sans-serif;
        font-weight: 300; }
      .modal__section--header--box--social {
        display: flex;
        align-items: flex-start; }
        .modal__section--header--box--social--icons {
          width: 2.5em;
          height: 2.5em;
          margin-right: 1em;
          fill: #fff5f2; }
          .modal__section--header--box--social--icons::after {
            content: '';
            display: block;
            clear: both; }
          .modal__section--header--box--social--icons:hover {
            fill: #5da4de; }
  .modal__section.open {
    display: block; }

.header-portfolio {
  background-image: url("../img/portfolio-large.jpg"); }

.header-10years {
  background-image: url("../img/wedding-large.jpg"); }

.header-rediscover {
  background-image: url("../img/rediscover-large.jpg"); }

.header-blackswan {
  background-image: url("../img/blackswan-large.jpg"); }

.header-adventure {
  background-image: url("../img/adventure-large.jpg"); }

.header-mendip {
  background-image: url("../img/mendip-large-min.jpg"); }

.header-roman {
  background-image: url("../img/roman-large-min.jpg"); }

.header-connect4 {
  background-image: url("../img/c4-large.jpg"); }

.header-nexter {
  background-image: url("../img/nexter-large-min.jpg"); }

.header-iit {
  background-image: url("../img/iit-large-min.jpg"); }

.header-dw {
  background-image: url("../img/dw-large.jpg"); }

.header-blog {
  background-image: url("../img/blog-large-min.jpg"); }

.header-nml {
  background-image: url("../img/nml-large-min.jpg"); }

.modal__content {
  text-align: left;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 2em; }
  .modal__content--title {
    font-size: 2.8rem;
    letter-spacing: 0;
    color: #394247;
    text-transform: upppercase;
    line-height: 1;
    font-family: Neon;
    font-weight: 300;
    margin-top: 1em;
    position: relative; }
    .modal__content--title::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 0.1em;
      width: 10%;
      background: #5da4de;
      z-index: -1; }
    @media (min-width: 75em) {
      .modal__content--title {
        font-size: 3em; } }
  .modal__content--section .img-left {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 1em;
    shape-outside: ellipse();
    border-radius: 50%; }
  .modal__content--section .img-right {
    max-width: 350px;
    max-height: 350px;
    float: right;
    margin-bottom: 2em; }
    @media (min-width: 75em) {
      .modal__content--section .img-right {
        margin-top: -5em; } }
  .modal__content--section--gallery {
    display: flex;
    flex-wrap: wrap; }
    .modal__content--section--gallery--fig {
      position: relative;
      overflow: hidden;
      flex: 1 1 25rem; }
      .modal__content--section--gallery--fig--img {
        display: block;
        width: 100%;
        height: 100%; }
  .modal__content--section--videoholder {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    margin-top: -2em; }
    .modal__content--section--videoholder--video {
      width: 100%; }
  @supports (display: grid) {
    .modal__content--section--gallery {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 0.5em; }
      @media (min-width: 50em) {
        .modal__content--section--gallery {
          grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); } } }
  .modal__content h3 {
    color: #5da4de; }

@keyframes modalIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes modalOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 15%;
  z-index: 10;
  transform: translateX(-100%);
  transition: transform ease-in 250ms; }
  @media (min-width: 50em) {
    .navigation {
      right: 40%; } }
  @media (min-width: 75em) {
    .navigation {
      right: 80%; } }
  .navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    background: #394247;
    border-right: solid #f9d5fa 1em; }
    .navigation ul li {
      text-align: center;
      display: flex;
      justify-content: center;
      transition: all 0.3s; }
      .navigation ul li:hover {
        background: #f9d5fa;
        transition: all 0.3s; }
        .navigation ul li:hover a {
          color: #394247; }
      .navigation ul li a {
        font-size: 1.8rem;
        letter-spacing: 0.05em;
        color: #fff5f2;
        text-transform: upppercase;
        line-height: 1;
        font-family: "Zilla Slab", serif;
        font-weight: 300;
        text-decoration: none;
        padding: calc(100vh / 12) 0;
        line-height: 0;
        scroll-behavior: smooth;
        transition: all 0.3s; }
        .navigation ul li a:hover {
          transition: all 0.3s; }

.open-nav {
  height: 93vh;
  overflow-y: hidden; }
  .open-nav .navigation {
    transform: translateX(0); }
  .open-nav .body-container {
    transform: translateX(85%); }
    @media (min-width: 50em) {
      .open-nav .body-container {
        transform: translateX(60%); } }
    @media (min-width: 75em) {
      .open-nav .body-container {
        transform: translateX(20%); } }
  .open-nav .menu-button {
    transform: translateX(0); }
  .open-nav .close {
    display: block; }
  .open-nav .hamburger {
    display: none; }

.menu-button {
  position: absolute;
  top: 1em;
  left: 1em;
  background: transparent;
  border: 0;
  fill: #5da4de;
  cursor: pointer;
  transition: all 0.3s; }
  .menu-button svg {
    height: 1.5em; }
    @media (min-width: 50em) {
      .menu-button svg {
        height: 2em; } }
  .menu-button:hover {
    fill: #fff5f2; }

.close {
  display: none; }

.portfolio__section {
  width: 90%;
  margin: 0 auto;
  max-width: 80em;
  text-align: left;
  padding: 2em 0; }
  .portfolio__section figure {
    margin: 0; }
  .portfolio__section img {
    height: 100%; }
  .portfolio__section--title {
    position: relative; }
    .portfolio__section--title::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 0.1em;
      width: 10%;
      background: #5da4de;
      z-index: -1; }
    @media (min-width: 50em) {
      .portfolio__section--title {
        margin-bottom: 0; } }
    @media (min-width: 100em) {
      .portfolio__section--title::before {
        content: "02";
        position: absolute;
        bottom: -18rem;
        right: 90rem;
        font-size: 10rem;
        z-index: -1;
        opacity: 0.05; } }
  .portfolio__section--filter {
    margin: 3rem 0 3rem 0; }
    .portfolio__section--filter--buttons {
      list-style: none;
      text-align: center;
      padding: 0; }
      .portfolio__section--filter--buttons--list {
        display: inline-block;
        font-size: 0.8rem;
        letter-spacing: 0.05em;
        color: #394247;
        text-transform: upppercase;
        line-height: 1;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-weight: bold;
        margin: 0 5px;
        text-transform: uppercase;
        cursor: pointer;
        padding: 1rem; }
        @media (min-width: 75em) {
          .portfolio__section--filter--buttons--list {
            font-size: 1.2rem; } }
        .portfolio__section--filter--buttons--list:hover {
          color: #5da4de; }
    .portfolio__section--filter .active {
      font-weight: bolder;
      border-bottom: 4px solid #f9d5fa; }
      .portfolio__section--filter .active:hover {
        color: #394247; }

.portfolio__items {
  display: flex;
  flex-wrap: wrap; }
  .portfolio__items--item {
    position: relative;
    overflow: hidden;
    flex: 1 1 25rem; }
    .portfolio__items--item--img {
      display: block;
      width: 100%;
      height: 100%;
      transition: all 1s ease-in-out; }
    .portfolio__items--item:hover .portfolio__items--item--img,
    .portfolio__items--item:focus .portfolio__items--item--img {
      transform: scale(1.5); }
    .portfolio__items--item--fig {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      bottom: 0;
      right: 0;
      left: 0;
      padding-top: 1em;
      padding-left: 1em;
      padding-bottom: 1em;
      background-image: linear-gradient(to right bottom, rgba(249, 213, 250, 0.9), #f9d5fa);
      text-align: left;
      transition: top ease-in-out 350ms; }
    .portfolio__items--item:hover .portfolio__items--item--fig,
    .portfolio__items--item:focus .portfolio__items--item--fig {
      top: 0; }
    .portfolio__items--item--title {
      margin-bottom: auto;
      font-size: 1.8rem;
      letter-spacing: 0;
      color: #fff5f2;
      text-transform: upppercase;
      line-height: 1;
      font-family: "Roboto", sans-serif;
      font-weight: 300; }
    .portfolio__items--item--social {
      display: flex;
      flex-direction: row;
      align-items: flex-start; }
      .portfolio__items--item--social svg {
        width: 2em;
        height: 2em;
        margin-right: 1em;
        fill: #fff5f2; }
        .portfolio__items--item--social svg::after {
          content: '';
          display: block;
          clear: both; }

.portfolio-link {
  font-size: 1.6rem;
  letter-spacing: 0;
  color: #fff5f2;
  text-transform: upppercase;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 2px solid #5da4de;
  align-self: flex-start; }

@supports (display: grid) {
  .portfolio__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 0.5em; } }

.quote__container {
  width: 90%;
  margin: 0 auto;
  max-width: 100vw;
  position: relative;
  padding: 3rem 0;
  background-image: url(../../img/quote.jpeg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 5em;
  margin-bottom: 5em; }
  .quote__container .quote__section {
    width: 90%;
    margin: 0 auto;
    max-width: 90em;
    text-align: center;
    padding: 2em; }
    @media (min-width: 50em) {
      .quote__container .quote__section {
        width: 50%; } }
    @media (min-width: 75em) {
      .quote__container .quote__section {
        width: 40%; } }
    .quote__container .quote__section--quote {
      font-size: 1.75rem;
      letter-spacing: 0.05em;
      color: #fff5f2;
      text-transform: upppercase;
      line-height: 1;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      line-height: 1.3; }
      @media (min-width: 50em) {
        .quote__container .quote__section--quote {
          font-size: 2rem; } }
      @media (min-width: 100em) {
        .quote__container .quote__section--quote {
          font-size: 2.4rem; } }
      .quote__container .quote__section--quote::after {
        content: "";
        width: 90%;
        height: 5px;
        background: #5da4de;
        display: block;
        margin: 1em auto; }
        @media (min-width: 50em) {
          .quote__container .quote__section--quote::after {
            width: 60%; } }
    .quote__container .quote__section--cite {
      font-size: 1rem;
      letter-spacing: 0.05em;
      color: #fff5f2;
      text-transform: upppercase;
      line-height: 1;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      margin-top: 1.5em; }

/* SOCIAL PANEL CSS */
.social__container {
  display: none; }
  .social__container.visible {
    transform: translateX(-10px); }
  @media (min-width: 75em) {
    .social__container {
      display: block;
      z-index: 99999;
      position: fixed;
      right: 0;
      bottom: 80px;
      transform: translateX(100%);
      transition: transform 0.4s ease-in-out; } }
  .social__container--panel {
    background-color: #05060b;
    border-radius: 50px;
    border: 5px solid #f9d5fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80px;
    width: 350px;
    max-width: calc(100% - 10px); }
    .social__container--panel ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .social__container--panel ul li {
        margin: 0 10px; }
        .social__container--panel ul li a {
          border-radius: 50%;
          color: #fff5f2;
          font-size: 2.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          width: 50px;
          text-decoration: none;
          transition: transform 0.3s; }
          .social__container--panel ul li a:hover {
            color: #5da4de;
            transition: 0.3s; }

.social__btn {
  display: none; }
  @media (min-width: 75em) {
    .social__btn {
      display: block;
      font-size: 1.1rem;
      letter-spacing: 0;
      color: #fff5f2;
      text-transform: upppercase;
      line-height: 1;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 999;
      border-radius: 50px;
      background-color: #05060b;
      border: 1px solid #f9d5fa;
      cursor: pointer;
      padding: 1rem;
      transition: transform 0.3s; } }
  .social__btn:hover {
    background-color: #5da4de;
    color: #001f61;
    transition: 0.3s; }
  .social__btn:focus {
    outline: none; }

.skills {
  width: 90%;
  margin: 0 auto;
  max-width: 80em;
  grid-column: about-start / about-end; }
  .skills::after {
    content: '';
    display: block;
    clear: both; }
  @media (min-width: 75em) {
    .skills {
      grid-column: img-end / about-end; } }
  .skills__list {
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    color: #394247;
    text-transform: upppercase;
    line-height: 1;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-weight: bold;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
    .skills__list ul {
      list-style: none; }
    .skills__list--item {
      position: relative;
      height: 60px;
      margin: 2.5rem 0 0 0;
      width: 90%; }
      .skills__list--item:before, .skills__list--item:after {
        content: "";
        position: absolute;
        border-radius: 20px;
        margin-top: 2rem; }
      .skills__list--item:before {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 20px;
        background: #394247; }
      .skills__list--item:after {
        background-color: #5da4de;
        background: repeating-linear-gradient(-45deg, #5da4de, #5da4de 10px, #6aabe1 10px, #6aabe1 20px);
        height: 16px;
        top: 2px;
        left: 2px;
        animation: fill 2s both; }
      .skills__list--item[aria-label="novice"]:after {
        right: 75%; }
      .skills__list--item[aria-label="improve"]:after {
        right: 65%; }
      .skills__list--item[aria-label="average"]:after {
        right: 50%; }
      .skills__list--item[aria-label="adept"]:after {
        right: 35%; }
      .skills__list--item[aria-label="advanced"]:after {
        right: 20%; }
      .skills__list--item[aria-label="elite"]:after {
        right: 10%; }
      .skills__list--item[aria-label="pro"]:after {
        right: 2px; }
  @supports (display: grid) {
    .skills .skills {
      display: grid;
      grid-template-columns: [about-start] minmax(15em, 1fr) [title-start] minmax(6em, 1fr) [img-end] 2fr [about-end];
      grid-column-gap: 0.75em;
      grid-column: about-start / about-end; }
      .skills .skills--title {
        grid-column: about-start / about-end;
        grid-row: 1 / 2;
        margin-top: 0;
        color: #394247;
        margin-bottom: 1rem; }
        .skills .skills--title::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          height: 0.1em;
          width: 10%;
          background: #5da4de;
          z-index: -1; }
        @media (min-width: 50em) {
          .skills .skills--title {
            margin-top: 0.5em;
            grid-row: 1 / 2;
            position: relative;
            margin-bottom: 0; } }
        @media (min-width: 100em) {
          .skills .skills--title::before {
            content: "01";
            position: absolute;
            bottom: -20rem;
            right: 90rem;
            font-size: 10rem;
            z-index: -1;
            opacity: 0.05; } }
      .skills .skills--sub, .skills .skills--text {
        grid-column: about-start / about-end; }
        @media (min-width: 50em) {
          .skills .skills--sub, .skills .skills--text {
            grid-row: 2 / 4;
            grid-column: about-start / about-end; } }
        @media (min-width: 75em) {
          .skills .skills--sub, .skills .skills--text {
            grid-row: 2 / 4;
            grid-column: about-start / img-end; } }
      @media (min-width: 50em) {
        .skills .skills--text {
          margin-top: 2rem; } } }

:nth-child(1):after {
  animation: animation-delay(1.5s); }

@keyframes fill {
  from {
    right: 100%; } }

.message__container {
  padding: 3rem 0;
  background-image: url(../../img/hero.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; }
  .message__container .message__section {
    width: 90%;
    margin: 0 auto;
    max-width: 90em;
    text-align: center;
    padding: 5em 2em; }
    @media (min-width: 100em) {
      .message__container .message__section {
        width: 50%; } }
    .message__container .message__section--title {
      font-size: 4rem;
      letter-spacing: 0.05em;
      color: #fff5f2;
      text-transform: upppercase;
      line-height: 1;
      font-family: Neon;
      font-weight: 300; }
    .message__container .message__section--text {
      font-size: 1.5rem;
      letter-spacing: 0.05em;
      color: #fff5f2;
      text-transform: upppercase;
      line-height: 1;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      line-height: 1.3; }
      .message__container .message__section--text::after {
        content: "";
        width: 90%;
        height: 5px;
        background: #5da4de;
        display: block;
        margin: 1em auto 2em auto; }
        @media (min-width: 50em) {
          .message__container .message__section--text::after {
            width: 60%; } }
    .message__container .message__section--btn {
      font-size: 1.2rem;
      letter-spacing: 0;
      color: #fff5f2;
      text-transform: upppercase;
      line-height: 1;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      position: relative;
      margin-top: 2em;
      text-decoration: none;
      border: 3px solid #fff5f2;
      padding: 0.5rem 0.5em;
      transition: all 0.5s; }
      .message__container .message__section--btn::before, .message__container .message__section--btn::after {
        content: "";
        position: absolute;
        width: 1rem;
        height: 1rem;
        border-style: solid;
        transition: all 0.5s; }
      .message__container .message__section--btn::before {
        top: -1rem;
        left: -1rem;
        border-width: 3px 0 0 3px;
        border-color: #5da4de; }
      .message__container .message__section--btn::after {
        bottom: -1rem;
        right: -1rem;
        border-width: 0 3px 3px 0;
        border-color: #5da4de; }
      .message__container .message__section--btn:hover {
        color: #fff5f2;
        background-color: #f9d5fa;
        border-color: #f9d5fa; }
      .message__container .message__section--btn:hover::before, .message__container .message__section--btn:hover::after {
        width: calc(100% + 2rem);
        height: calc(100% + 2rem);
        border-color: #f9d5fa; }
