
// Styling for the about me section. Nested sections are specific to the about-me class.
.about__section {
  @include container;
  @include clearfix;
  margin-top: 5em;
  margin-bottom: 5em;

  &--img {
    @include clearfix;
    margin-top: 2em;
    margin-bottom: 2em;

    @include mq {
      float: left;
      margin-right: 1em;
    }
  }

  a {
    &:link,
    &:visited {
      color: $secondary;
      text-decoration: none;
      transition: all .2s;
      font-weight: bold;
    }

    &:hover {
      color: $primary;
    }
  }
}

// Styling specific for browsers supporting css grids
@supports (display: grid) {
  // Define the grid of the about me section. The use of 'start' and 'end' to ensure elements can be desirably placed.
  .about__section {
    display: grid;
    // Names are assigned to the lines of the grid, see square brackets. The use of name lines allows line-based placement for redefining the grid.
    grid-template-columns: [about-start] minmax(15em, 1fr) [title-start] minmax(6em, 1fr) [img-end] 2fr [about-end];
    grid-column-gap: .75em;

    // Defining the placement of the about title ensuring the placement overlaps the imgage.
    &--title {
      grid-column: about-start / about-end;
      grid-row: 2 / 2;
      margin-top: -3em;

      @include mq {
        margin-top: .5em;
        grid-row: 1 / 2;

      }
    }

    &--sub {
      @include sans-serif($fs: 2rem, $ff: $ff-sub, $color: $white);
      font-style: italic;
      margin-top: -2.8em;

      @include mq {
        font-size: 2.5rem;
        margin-top: -1.5em;
        color: $accent;
      }
    }

    // Ensure that the subtitle flows beneath the image and the content of the section occupies the full width. Small screens only.
    &--sub, &--text {
      grid-column: about-start / about-end;

      // The subtitle and content will positon next to the image on larger screens.
      @include mq {
        grid-row: 2 / 4;
        grid-column: about-start / img-end;
      }
    }

    &--text {
      @include mq {
        margin-top: 2rem;
      }
    }
    

    // Defining the placement of the image within the grid.
    &--img {
      grid-column: about-start / img-end;
      grid-row: 1 / 2;


      @include mq {
        grid-column: img-end / about-end;
        grid-row: 2 / 4;
      }
    }
  }
}
