// General body styling relevant throughout the website.

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  color: $base;
  font-family: $ff-header;
  line-height: 1.6;
  background: $white;
  font-size: 1.1rem;
  overflow-x: hidden;
  min-height: 100vh;
  padding: 0;
  box-sizing: border-box;

  @include mq-l {
    padding: 2rem;
  }
}

.body-container {
  background-color: #F7F7F7;
}

.large-text {
  @include sans-serif($fs: 1.4rem, $color: $base, $ff: $ff-large, $ls: 0);

  @include mq {
    font-size: 1.9rem;
  }
}

.highlight {
  @include sans-serif($fs: 1.4rem, $color: $secondary, $ff: $ff-large, $ls: 0);
  font-weight: bold;
}

img {
  max-width: 100%;
}

h1, h2, p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
  @include sans-serif($fs: 3.125rem, $color: $secondary, $ff: $ff-header, $ls: 0);

  @include mq {
    font-size: 4rem;
  }
}

h2 {
  @include sans-serif($fs: 2rem);
  background-image: linear-gradient(to right, $secondary, $primary);
  -webkit-background-clip: text;
  color: transparent;

  @include mq {
    font-size: 3rem;
  }
}
