// General body styling relevant throughout the website.

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  background-color: $white;
  scroll-behavior: smooth;
}

body {
  color: $base;
  font-family: $ff-main;
  line-height: 1.6;
  background: $white;
  font-size: 18px;
  overflow-x: hidden;
  padding: 0;
  box-sizing: border-box;
}

.large-text {
  @include sans-serif($fs: 1.4rem, $color: $base, $ff: $ff-main, $ls: 0);

  @include mq {
    font-size: 1.9rem;
  }
}

.highlight {
  @include sans-serif($fs: 1.4rem, $color: $main, $ff: $ff-main, $ls: 0);
  font-weight: bold;
  font-style: italic;
}

img {
  max-width: 100%;
}

h1,
h2,
p {
  margin-bottom: 1em;
}

h1 {
  @include sans-serif($fs: 2.2rem, $ff: $ff-title, $ls: 0);

  @include mq {
    font-size: 4rem;
  }
}

ul {
  list-style: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
