.contact {
  @include container($max-width: 80em);
  @include clearfix;
  // min-height: 100vh;
  position: relative;
  padding: 20px;
  margin-bottom: 5em;

  &--title {
    text-align: left;
    margin-top: 1em;
    @include mq {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 55%;
        left: 0;
        height: 0.1em;
        width: 23%;
        background: $main;
        z-index: -1;
      }
    }
  }

  &--sub {
    @include sans-serif($fs: 1.8rem, $ff: $ff-sub, $color: $main);
    margin-top: -1.5em;
    font-style: italic;

    @include mq {
      font-size: 2.5rem;
      margin-top: -1.5em;
    }
  }

  &__container {
    min-height: 800px;
    background: $white;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;

    &--img {
      display: none;
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include mq {
        display: block;
      }
    }

    &--box {
      grid-column: 1/ -1;
      width: 100%;
      height: 100%;
      background: $white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      transition: 0.5s;

      @include mq {
        grid-column: 2 / -1;
      }

      // Styling for the social icons
      &--icons {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        &--list {
          list-style: none;

          &--link {
            display: flex;
            font-size: 1.5rem;
            text-decoration: none;
            color: #b6bbc5;
            width: 3rem;
            height: 3rem;
            margin-bottom: 2rem;
            border-radius: 50%;
            box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1), -1rem -1rem 2rem rgba(255, 255, 255, 0.5);

            &:hover {
              box-shadow: inset 1rem 1rem 2rem rgba(0, 0, 0, 0.1), inset -1rem -1rem 2rem rgba(255, 255, 255, 0.5);
            }

            i {
              margin: auto;
            }
          }
        }
      }

      &--form {
        input,
        textarea {
          width: 100%;
          padding: 1rem;
          background-color: #f5f5f5;
          color: $base;
          border: none;
          outline: none;
          box-shadow: none;
          margin: 0.5rem 0;
          font-size: 1rem;
          letter-spacing: 1px;
          font-weight: 300;
        }

        input[type="submit"] {
          @include sans-serif($fs: 1rem, $ff: $ff-main, $color: $white);
          text-transform: uppercase;
          max-width: 33.3%;
          color: $white;
          cursor: pointer;
          transition: 0.5s;
          background: $main;

          &:hover {
            background: $base;
          }
        }

        textarea {
          height: 200px;
        }
      }
    }
  }
}
