.change-theme {
  color: $white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 1rem;
  margin-left: 1rem;
  transition: transform 0.3s;

  &:hover {
    color: $accent;
  }
}

body.dark-theme {
  .body-container,
  .modal__section,
  .contact__container--box,
  .hero,
  .footer {
    background-color: black;
  }

  h1,
  .modal__content--title {
    color: $accent;

    &:after {
      background: $main;
    }
  }

  .modal__section--header--box--title {
    color: $white;

    &:after {
      background: $accent;
    }
  }

  h2,
  h3,
  h4,
  p,
  .skills__list,
  .portfolio__section--filter--buttons--list {
    color: $white;
  }

  .skills__list--item {
    &::before {
      background: $main;
    }
  }
}
