// Styling specific to the footer.

footer {
  padding: 5em 0 1em;
  text-align: center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-image: url('../img/test21.jpg');
  background-size: cover;
  background-position: center;
  // height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  h1 {
    color: $gold;
  }

  // Styling the icons holder
  .social-icons {
    display: flex;
    flex-direction: row;

    // Styling the icons
    .social-icon {
      padding: 0 .5em 0;
      width: 2.8em;
      height: 2.8em;
      fill: $white;

      &:hover {
        fill: $gold;
      }

      @include mq {
        width: 4em;
        height: 4em;
      }
    }
  }

  img {
    @include container($max-width: 15em);

    @include mq {
      @include container($max-width: 20em);
    }
  }
}
