// Start of modal styling

.modal__section {
  background-color: $white;
  position: fixed;
  z-index: 10;
  top: 1em;
  bottom: 1em;
  left: 2em;
  right: 2em;
  box-shadow: 0 0 0 3em rgba($main, 0.8);
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;

  &--button {
    background: transparent;
    position: fixed;
    background: $main;
    top: 0.7em;
    left: 1.5em;
    border: 0;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba($base, 0.9);

    &--img {
      max-height: 1em;
      margin-top: 0.2em;
    }
  }

  // Start of the modal header styling
  &--header {
    text-align: left;
    padding: 5em 0;
    margin-bottom: 2em;
    background-size: cover;
    background-position: center;

    @include mq-l {
      height: 100vh;
    }

    // Styling for the overlapping title box at the top of each modal
    &--box {
      background: rgba($base, 0.6);
      padding: 2em 0 1em 2em;
      color: $white;
      width: 100%;

      @include mq-l {
        padding: 5em 0 5em 5em;
      }

      &--title {
        color: $white;
        font-size: 1.9rem;
        display: inline-block;

        &::after {
          content: "";
          height: 3px;
          margin: 0.5em 0;
          background: $main;
          display: block;
        }

        @include mq-l {
          font-size: 3rem;
        }
      }

      &--sub {
        @include sans-serif($fs: 1.5rem, $color: $white, $ff: $ff-title, $ls: 0);
      }

      &--social {
        display: flex;
        align-items: flex-start;

        &--icons {
          @include clearfix;
          width: 2.5em;
          height: 2.5em;
          margin-right: 1em;
          fill: $white;

          &:hover {
            fill: $main;
          }
        }
      }
    }
  }

  // Class to be added in JS
  &.open {
    display: block;
  }
}

// Styling specific to individual modals. The 'hero' image at the top of each modal
.header-portfolio {
  background-image: url("../img/portfolio-large.jpg");
}

.header-10years {
  background-image: url("../img/wedding-large.jpg");
}

.header-rediscover {
  background-image: url("../img/rediscover-large.jpg");
}

.header-blackswan {
  background-image: url("../img/blackswan-large.jpg");
}

.header-adventure {
  background-image: url("../img/adventure-large.jpg");
}

.header-mendip {
  background-image: url("../img/mendip-large-min.jpg");
}

.header-roman {
  background-image: url("../img/roman-large-min.jpg");
}

.header-connect4 {
  background-image: url("../img/c4-large.jpg");
}

.header-nexter {
  background-image: url("../img/nexter-large-min.jpg");
}

.header-iit {
  background-image: url("../img/iit-large-min.jpg");
}

.header-dw {
  background-image: url("../img/dw-large.jpg");
}

.header-blog {
  background-image: url("../img/blog-large-min.jpg");
}

.header-nml {
  background-image: url("../img/nml-large-min.jpg");
}

// End of modal header styling

// Start of the modal content styling
.modal__content {
  text-align: left;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 2em;

  // Title styling
  &--title {
    @include sans-serif($fs: 2.8rem, $color: $base, $ff: $ff-title, $ls: 0);
    margin-top: 1em;

    @include mq-l {
      font-size: 3em;
    }
  }

  &--section {
    .img-left {
      width: 150px;
      height: 150px;
      float: left;
      margin-right: 1em;
      shape-outside: ellipse();
      border-radius: 50%;
    }

    .img-right {
      max-width: 350px;
      max-height: 350px;
      float: right;
      margin-bottom: 2em;

      @include mq-l {
        margin-top: -5em;
      }
    }

    // Styling for the modal gallery
    &--gallery {
      display: flex;
      flex-wrap: wrap;

      &--fig {
        position: relative;
        overflow: hidden;
        flex: 1 1 25rem;

        &--img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }

    // Styling for the modal video
    &--videoholder {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex-direction: column;
      margin-top: -2em;

      &--video {
        width: 100%;
      }
    }

    @supports (display: grid) {
      &--gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0.5em;

        @include mq {
          grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
        }
      }
    }
  }

  h3 {
    color: $main;
  }
}

// Modal Animations
@keyframes modalIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
