// Start of modal styling

.portfolio-modal {
  position: fixed;
  z-index: 10;
  top: 1em;
  bottom: 1em;
  left: 2em;
  right: 2em;
  background: $white;
  box-shadow: 0 0 0 3em rgba(black, .4);
  overflow-y: scroll;
  overflow-x: hidden;

  display: none;

  &.open {
    display: block;
  }

  h2 {
      @include sans-serif($fs: 3.5rem, $color: $accent, $ff: $ff-cc, $ls: 0);
      margin-top: 1em;
  }
}

.modal-close {
  background: transparent;
  position: fixed;
  background: $white;
  top: .5em;
  left: 1em;
  border: 0;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(black, .5);

  img {
    height: 1em;
  }
}

// Start of the modal header styling

.portfolio-header {
  text-align: left;
  padding: 5em 0;
  margin-bottom: 2em;
}

.header-one, .header-two, .header-three, .header-four, .header-five {
  background-size: cover;
  background-position: center;

  @include mq-l {
    height: 60vh;
    }
}

// Styling specific to individual modals. The 'hero' image at the top of each modal
.header-one {
  background-image: url('../img/iit-modal-header.jpg');
}

.header-two {
  background-image: url('../img/doggie-modal-header.jpg');
}

.header-three {
  background-image: url('../img/tx-modal-header.jpg');
}

.header-four {
  background-image: url('../img/nml-modal-header.jpg');
}

.header-five {
  background-image: url('../img/miami-modal-header.jpg');
}

// Styling for the overlapping title box at the top of each modal
.portfolio-title-box {
  background: rgba($accent, .75);
  padding: 2em 0 1em 2em;
  color: $white;
  width: 100%;

  @include mq-l {
      padding: 5em 0 1em 5em;
    }

  .portfolio-title {
    font-size: 1.9rem;
    display: inline-block;

    &::after {
      content: '';
      height: 3px;
      margin: .5em 0;
      background: $white;
      display: block;
    }
    @include mq-l {
        font-size: 3rem;
    }
  }
  .portfolio-subtitle {
    font-size: 1.3rem;

    @include mq-l {
        font-size: 1.8rem;
    }
  }

  .social-icons {
    // @include container($max-width: 15em);

    display: flex;
    align-items: flex-start;

    .social-icon {
      @include clearfix;
      width: 2.5em;
      height: 2.5em;
      margin-right: 1em;
    }
  }
}


// End of modal header styling

.portfolio-content {
  text-align: left;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 2em;
}

.portfolio-full-width {
  width: 100vw !important;
  max-width: initial;
  margin: 2em calc(50% - 50vw);
  height: 20vh !important;
  object-fit: cover;
}

@keyframes modalIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes modalOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

// styling for modal sections

.branding {
  .circle-logo {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 30px;
    shape-outside: ellipse();
    border-radius: 50%;
  }

  .logo {
    width: 250px;
    height: 250px;
    float: left;
    margin-right: 30px
  }
}

.responsive {
  @include mq-l {
    margin-bottom: 5em;
    }

  img {
    max-width: 350px;
    max-height: 350px;
    float: right;
    margin-bottom: 2em;


  @include mq-l {
    margin-top: -5em;
    }
  }
}

.design {

  @include mq-l {
    margin-bottom: 5em;
  }

  img {
    margin-bottom: 5em;
    @include mq-l {
      @include container($max-width: 50em);
    }
  }
}

.demonstration {

  .video-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    margin-top: -2em;

    video {
      width: 100%;
    }
  }
}
