// Styling specific to the navigation on smaller devices.
.navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 15%;
  z-index: 10;
  transform: translateX(-100%); // Hides the mobile nav out of the display. Use JS to make the nav come out.
  transition: transform ease-in 250ms; // Transition the transform.

  @include mq {
    right: 50%;
  }

  @include mq-l {
    right: 70%;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    background: $base;
    border-right: solid $main 1em;

    li {
      text-align: center;
      display: flex;
      justify-content: center;
      transition: all 0.3s;

      &:hover {
        background: $main;
        transition: all 0.3s;

        a {
          color: $base;
        }
      }

      a {
        @include sans-serif($fs: 1.8rem, $ff: $ff-title, $color: $white) text-decoration: none;
        // If more links are added to the navigation, adjust the divided by number accordingly.
        padding: calc(100vh / 12) 0;
        line-height: 0;
        scroll-behavior: smooth;
        transition: all 0.3s;

        &:hover {
          transition: all 0.3s;
        }
      }
    }
  }
}

// Styling in relation to the nav.js
// Class created for use with nav.js.
.open-nav {
  height: 93vh;
  overflow-y: hidden;

  .navigation {
    transform: translateX(0); //Move mobile-nav back to its starting point.
  }

  .body-container {
    transform: translateX(85%);

    @include mq {
      transform: translateX(50%);
    }

    @include mq-l {
      transform: translateX(30%);
    }
  }

  .menu-button {
    transform: translateX(0);
  }

  .close {
    display: block;
  }

  .hamburger {
    display: none;
  }
}

// Styling for the menu button
.menu-button {
  position: absolute;
  top: 1em;
  left: 1em;
  background: transparent;
  border: 0;
  fill: $accent;
  cursor: pointer;
  transition: all 0.3s;

  @include mq {
    &:after {
      content: "Menu";
      display: block;
      position: absolute;
      color: #000;
      top: 20px;
      font-size: 12px;
      left: 35px;
    }
  }

  svg {
    height: 1.5em;

    @include mq {
      height: 2em;
    }
  }

  &:hover {
    transform: translateY(0.1rem);
    fill: $white;
  }
}

.close {
  display: none;
}
