.quote__container {
  @include container($max-width: 100vw);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 10vh);

  .quote--img {
    background-image: url(../../img/quote.jpeg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 1 / -1;
    grid-row: 2 / -1;

    @include mq {
      grid-column: 1 / -1;
      grid-row: 3 / -1;
    }

    @include mq-l {
      grid-column: 1 / 8;
      grid-row: 1 / -1;
    }
  }

  .quote__section {
    @include container($max-width: 90em);
    text-align: center;
    padding: 1em;
    min-height: 100%;
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 2 / 6;
    margin-top: 3rem;

    @include mq {
      grid-column: 1 / -1;
    }

    @include mq-l {
      grid-row: 4;
      grid-column: 6 / -1;
    }

    @include mq-xl {
      grid-column: 6 / -1;
      grid-row: 2 / -1;
    }

    &--quote {
      @include sans-serif($fs: 2rem, $color: $base, $ff: $ff-title);
      line-height: 1.3;

      @include mq {
        font-size: 3rem;
      }

      @include mq-xl {
        font-size: 5rem;
      }
    }
  }
}
