// Partial for styling specific to the intro section of index.html

.quote-section {
  color: $accent;

  h2 {
    @include sans-serif($fs: 1.75rem, $color: $accent, $ff: $ff-ssr);

    @include mq {
      font-size: 2.25rem;
    }

    &::after {
      content: '';
      width: 20%;
      height: 3px;
      background: rgba($accent, .5);
      display: block;
      margin: 1em auto 0;
    }
  }

  .quote {
    @include container($max-width: 90em);
    padding: 2.5em 0 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
