/* SOCIAL PANEL CSS */
.social__container {
  display: none;

  &.visible {
    transform: translateX(-10px);
  }

  // Display only on large screens
  @include mq-l {
    display: block;
    z-index: 99999;
    position: fixed;
    right: 0;
    bottom: 80px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
  }

  // Social panel popout
  &--panel {
    background-color: $base;
    border-radius: 50px;
    border: 1px solid $main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60px;
    width: 350px;
    max-width: calc(100% - 10px);

    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0 10px;

        a {
          border-radius: 50%;
          color: $white;
          font-size: 2.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          width: 50px;
          text-decoration: none;
          transition: transform 0.3s;

          &:hover {
            color: $main;
            transition: 0.3s;
          }
        }
      }
    }
  }
}

.social__btn {
  display: none;

  @include mq-l {
    display: block;
    @include sans-serif($fs: 1.4rem, $color: $white, $ff: $ff-title, $ls: 0);
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    border-radius: 50px;
    background-color: $base;
    border: 1px solid $main;
    cursor: pointer;
    padding: 0.8rem;
    transition: transform 0.3s;
  }

  &:hover {
    background-color: $main;
    color: $base;
    transition: 0.3s;
  }

  &:focus {
    outline: none;
  }
}
