// Defining the the variable for the different fonts.
$ff-main: "Roboto", sans-serif;
$ff-title: "Jost", sans-serif;

// Font Face Fonts

@font-face {
  src: url("../../fonts/Winter.otf");
  font-family: Winter;
}

@font-face {
  font-family: Neon;
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/Blackpast.otf");
}

@font-face {
  font-family: Panton;
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/Panton.ttf");
}

// Defining the font-weight variables.
$fw-n: 300;
$fw-m: 500;
$fw-b: 900;

// Defined Mixins to define styles that can be re-used throughout the stylesheet
@mixin sans-serif($fs, $ls: 0.05em, $color: $base, $tt: upppercase, $lh: 1, $ff: $ff-main, $fw: $fw-n) {
  font-size: $fs;
  letter-spacing: $ls;
  color: $color;
  text-transform: $tt;
  line-height: $lh;
  font-family: $ff;
  font-weight: $fw;
}
