@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Merriweather:400,900|Six+Caps|Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo&display=swap');

// Defining the the variable for the different fonts.
$ff-body: 'forma-djr-text', sans-serif;
$ff-header: 'Archivo', sans-serif;
$ff-sub: 'marydale', sans-serif;
$ff-large: 'template-gothic', sans-serif;

// Defining the font-weight variables.
$fw-n: 400;
$fw-m: 500;
$fw-b: 900;


// Defined Mixins to define styles that can be re-used throughout the stylesheet
@mixin sans-serif($fs, $ls: .15em, $color: $base, $tt: upppercase, $lh: 1, $ff: $ff-body ) {
  font-size: $fs;
  letter-spacing: $ls;
  color: $color;
  text-transform: $tt;
  line-height: $lh;
  font-family: $ff;
  font-weight: $fw-n;
}
