// Defining the the variable for the different colours.

$white: #ffffff;
$black: #262626; // Black
$base: #606060; // Grey
$primary: #38405B; // Blue
$secondary: #C69963; // Gold

// New Colours
$main: #A78CE7;
$accent: #FF7BB4;

